<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" w-full h-screen">
  <div class="w-full h-full flex">

    <!-- SideBar -->
    <div class="w-[20%] h-full border-r-2">
      {{template "partials/sidebar" .}}
    </div>
    <!-- App -->
    <div class="w-[80%] h-full">
      {{embed}}
    </div>
    
  </div>
</body>

</html>
