<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restdis | Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <form hx-post="/api/login" class="w-full h-screen flex flex-col items-center justify-center gap-2">
    <input type="text" class="p-2 rounded-md border" name="username" placeholder="Username" value="">
    <input type="password" class="p-2 rounded-md border" name="password" placeholder="Password" value="">
    <button type="submit" class="border shadow-md p-2 rounded-md text-white bg-blue-500">Login</button>
    {{ if .BadRequest }}
      <p class="text-red-500 text-sm">Invalid credentials</p>
    {{end}}
  </form>
  <div class="absolute bottom-0 flex w-full justify-between p-2">
    <h1>Restdis v 0.0.1 By <a class="text-blue-500" href="https://github.com/TheWisePigeon" target="_blank">TheWisePigeon</a> </h1>
    <h1>Contribute <a class="text-blue-500 " href="https://github.com/TheWisePigeon/restdis" target="_self">here</a> </h1>
  </div>
</body>

</html>
